<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpCookies domain="" httpOnlyCookies="true" requireSSL="true" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Powered-By" value="-" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
